<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudio Rondon</title>
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/grayscale.css">
  <link rel="stylesheet" href="/css/grayscale.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/grayscale.js"></script>
  <script src="/js/grayscale.min.js"></script>
</head>

<style>
  .logo{
    padding-top: 0.1em;
  }
  .outra{
    font-family: 'Varela Round';
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  .contato{
    font-size: 1.5em;
  }
 

</style>
<body id="page-top">
 

    <!-- Navigation -->
 
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
            <img src="/images/andre rondon-03.png" class="logo" href="#page-top" alt="" height="100px" width="105px">
            <a class="navbar-brand js-scroll-trigger, contato, text-dark " href="#page-top">Andre Rondon Photography</a>
            <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger, contato" href="#signup">Contact</a>
                </li>
              </ul>
            </div> -->
      </div>
    </nav>



  <img class="img-fluid mb-3" src="/images/bg-masthead02.jpg" alt="">
  <h2 class="text-black-100 mx-auto mt-2 mb-5, outra">Page in constructions ...</h2>
  
  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="fa fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Email US!</h2>
          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="rondon@estudiorondon.com.br">
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">VANCOUVER - BC</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">rondon@estudiorondon.com.br</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (778) 917-2486</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i href="http://www.google.com" class="fa fa-instagram"></i> 
        </a>
        <a href="#" class="mx-2">
          <i class="fa fa-facebook-f"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Andre Rondon Photography
    </div>
  </footer>
</body>

</html>
