<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neia</title>

  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/grayscale.css">
  <link rel="stylesheet" href="/css/grayscale.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    .logo{
        padding-top: 0.1em;
        padding-bottom: 0.5em;
        /* margin-right: 50%; */
    }
  .outra{
    font-family: 'Varela Round';
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  .contato{
    font-size: 1.5em;
  }

</style>


<body id="page-top">

<h1> Nós somos 100% responsáveis por nossas escolhas e temos que conviver com os reflexos que elas causam. 
  Se você esperava que o Nick fosse ficar com raiva de você e te expulsar da vida dele, você foi ingênua, pois ele não tem amor próprio e isso acredito que ninguém esperaria dele. O que realmente esperávamos (todos que gostam de você) era que você fizesse a escolha certa e correta, mas ao ir para a casa do Nick, você fez sua escolha.
  O que eu e todas as pessoas que gostam de você realmente esperam, é que você não se machuque ainda mais, que resgate seus valores e que retorne á sua origem. Tomara que quando isso aconteça, não seja tarde de mais.</h1>
</body>

</html>