
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Te amo! Preta</title>

  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/grayscale.css">
  <link rel="stylesheet" href="/css/grayscale.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    .logo{
        padding-top: 0.1em;
        padding-bottom: 0.5em;
        /* margin-right: 50%; */
    }
  .outra{
    font-family: 'Varela Round';
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  .contato{
    font-size: 1.5em;
  }

  .container{
    font-size: 1.5em;
  }

</style>


<body id="page-top">

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">

      <p>
        <img src="/images/IMG-208.jpg" alt="350px" height="350">
      </p>

      <p>
        Bom dia Meu anjo!!

        Dá o play abaixo! 

      </p>
 

      <audio controls>
        <source src="/music/sandyanavitoria-pra-me-refazerlyrics.mp3" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>

      

      <p>
        Que saudade de falar isso "Bom dia Meu anjo!!" e ouvir de você, que você estava esperando por essa msg! 

      </p>

    <p>
      Eu também erro, também desespero e também estou perdidamente apaixonado e você sabe muito bem como chegamos até aqui. Nossa história não acaba assim. Meu coração está dilacerado e eu perdido novamente e só estou te dizendo isso porque combinamos de ser francos um com o outro e assim serei contigo até o fim, nessa ou em qualquer outra vida. Ainda acredito na frase “Daqueles amantes que só Deus pode separar”. 

    </p>

   

    <p>
      Saudade de olhar você vindo em minha direção 
“Ver teu andar ganhando todo meu carinho
Ser no teu rosto a razão do só sorrir”

    </p>

    <p>
      Saudade de sorrir com minhas bobeiras? 
      So, just play the video below
    </p>
    <p>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </p>
   
    <p>

      NÃO SOLTA MINHA MÃO
    </p>
    <p>
      <img src="/images/neia.png" alt="150px" height="150">
    </p>

    <audio controls>
      <!-- <source src="/public/music/anavitoria-preta-letralegendado.mp3" type="audio/ogg"> -->
      <source src="/music/anavitoria-preta-letralegendado.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>


    


  
  </footer>
      


</body>

</html>

